<!--This will be a partial template that can be "included" 
  into other setting pages as an overall navigation-->
<div class="float-left">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="profile.html" class="card-link">Profile</a></li>
      <li class="list-group-item"><a href="/templates/partials/nonexist.html" class="card-link">Profile Settings</a></li>
      <li class="list-group-item"><a href="/templates/partials/nonexist.html" class="card-link">Notifications</a></li>
      <li class="list-group-item"><a href="/templates/partials/nonexist.html" class="card-link">Privacy Settings</a></li>
      <li class="list-group-item"><a href="/templates/partials/nonexist.html" class="card-link">Security Settings</a></li>
    </ul>
  </div>
</div>
