<!--This will be a partial template that can be "included" 
  into other setting pages as an overall navigation-->

<div class="float-left" style="height: 100%; background: darkgray; border: solid 1px; width: 15vw">
  <div class="card" style="background-color: darkgray;">
    <ul class="list-group list-group-flush" style="background: darkgray;">
      <li class="list-group-item" style="background: darkgray; border-bottom: solid .5px;"><a
          href="{{ url_for('profileSettings') }}" class="card-link">Profile Settings</a></li>
      <li class="list-group-item" style="background: darkgray; border-bottom: solid .5px;"><a
          href="{{ url_for('editSettings') }}" class="card-link">Security Settings</a></li>
    </ul>
  </div>
</div>