html{
    height: 100%;
    background-image: linear-Gradient(#ffffff,#0085ff);
}

p {
    position: fixed;
    font-size: 3vw;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

form{
    position: fixed;
    font-size: 1.25vw;
    top:30%;
    left:15%;
}

button{
    position: fixed;
    font-size: 1vw;
    border-radius: 5px;
}

input[type=text]{
    font-size: 1.4vw;
    width: 15vw;
}

input[type=email]{
    font-size: 1.4vw;
    width: 30vw;
}

input[type=password]{
    font-size: 1.4vw;
    width: 15vw;
}

#signUpBttn{
    top: 75.46%;
    left: 62.24%;
}

#signInBttn{
    top: 75.46%;
    left: 29.46%;
}

#firstForm{
    position: fixed;
    top:31.93%;
    left:29.93%;
}

#lastForm{
    position: fixed;
    top:31.93%;
    left:51.82%;
}

#emailForm{
    position: fixed;
    top: 46.19%;
    left: 29.93%;
}

#passMessage{
    position: fixed;
    font-size: .8vw;
    top: 60.86%;
    left: 29.95%;
}

#passForm{
    position: fixed;
    top: 62.5%;
    left: 29.95%;
}

#confirmForm{
    position: fixed;
    top: 62.5%;
    left: 51.82%;
}