{% macro activity_display(activity) %}

<br>

<div class="container col-6">
  <div class="card mb-3">
    <div class="row">
      <div class="col-sm-4  align-self-left">
        <img src="data:;base64,{{ activity.image }}" class="card-img">
      </div>
      <div class="col-sm">
        <h3 class="card-title blue">{{ activity.title }}</h5>
        <div class="card-body">
          <p class="card-text" id="descroption">Description:</p>
          <p class="card-text">{{ activity.description }}</p>
          <a href="{{ url_for('activity', activity_id=activity.activity_id) }}" type="button" class="btn nav_button_primary btn-primary btn-sm">View project</a>
          {%  if activity.likeStatus %}
            <a href="{{ url_for('unlikepost', activity_id=activity.activity_id) }}" type ="button" class="btn nav_button_secondary btn-secondary btn-xs">Unlike</a>
          {% else %}
            <a href="{{ url_for('likepost', activity_id=activity.activity_id) }}" type ="button" class="btn nav_button_secondary btn-secondary btn-xs">Like</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bottomright">Likes: {{ activity.likes }}</div>
  </div>
</div>

{% endmacro %}

{% macro guest_activity_display(activity) %}

<br>

<div class="container col-6">
  <div class="card mb-3">
    <div class="row">
      <div class="col-sm-4  align-self-left">
        <img src="data:;base64,{{ activity.image }}" class="card-img">
      </div>
      <div class="col-sm">
        <h3 class="card-title blue">{{ activity.title }}</h5>
        <div class="card-body">
          <p class="card-text" id="descroption">Description:</p>
          <p class="card-text">{{ activity.description }}</p>
          <a href="{{ url_for('register') }}" type="button" class="btn nav_button_primary btn-primary btn-sm">Create an account to see more</a>
            <a href="{{ url_for('register') }}" type ="button" class="btn nav_button_secondary btn-secondary btn-xs">Like</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}