{% extends 'head.html' %}
{% from 'profilelistdisplay.html' import profilelist_display %}

{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="text-center">
      <div class="card mb-3">
        <div class="row">
          <div class="col-sm-4  align-self-left">
            <img src="data:;base64,{{ activity.image }}" class="card-img">
          </div>
          <div class=" col-sm">
            <div class="row" style="border-bottom: .5px solid black; font: 40px bold;">
              <div class="card-title">{{ activity.title }}</div>
            </div>
            <div class="row" style="font: 32px bold; border-bottom: .5px solid black;">
              <div class="card-text" style="float: left;">
                Description:
              </div>
            </div>
            <div class="row" style="font: 16px bold; height: 15vw;">
              <div class="card-text" style="float: left;">
                {{ activity.description }}
              </div>
            </div>
            <div class="row">
              <div class="card-text" style="float: left; font: 16px bold;">
                {% if likeStatus %}
                <a href="{{ url_for('unlikepost', activity_id=activity.activity_id) }}" type="button"
                  class="btn nav_button_secondary btn-secondary btn-xs" style="border: .5px solid black">Unlike</a>
                {% else %}
                <a href="{{ url_for('likepost', activity_id=activity.activity_id) }}" type="button"
                  class="btn nav_button_secondary btn-secondary btn-xs" style="border: .5px solid black">Like</a>
                {% endif %}
                Like Count: {{ activity.likes }}
              </div>
            </div><br>
            <div class="row">
              <div class="card-text">
                <a href="{{ url_for('joinactivity', activity_id=activity.activity_id) }}" type="button"
                  class="btn nav_button_secondary btn-secondary btn-xs" style="border: .5px solid black">Join
                  project</a>
              </div>
            </div>
          </div>
          <div class="col-" style="border-left: .5px solid black;">
            <h5 class=" card-header"> Activity Members:</h5>
            <div class="card-body">
              {% for items in members %}
              {% for item in items %}
              {{ (profilelist_display(item)) }}
              {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <h5 class="card-header"> Comments</h5>
        <section class="mood">
          <div class="row">
            <div class="col text-center">
              <div class="mood-percentage card-text" style="font: 16px;">{{ activity.happy }}</div>
            </div>
          </div>
        </section>
        <div class="card-body">
          {% for comment in comments %}
          <p><strong> {{ comment.username }}: </strong> {{ comment.body }}</p>
          {% endfor %}
        </div>
        <div class="card mb-3" style="background-color: lightgray;">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset class="form-group">
              {{ form.hidden_tag() }}
              <p>
                {{ form.comment(class = "form-control form-control-lg") }}<br>
              </p>
              <p>
              <p>
                {{ form.submit(class = "btn btn-primary btn-lg") }}
              </p>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if activity.current_id == activity.creator_id %}
    <a href="{{ url_for('deleteactivity', activity_id=activity.activity_id) }}" type="button"
                    class="btn nav_button_secondary btn-secondary btn-xs" style="border: .5px solid black">Delete Post</a>
    {% endif %}
</div>

{% endblock content %}