{% extends 'head.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="text-center">

            <h1 class="my-5">PROJECT NAME</h1>

            <hr class="mb-5">
            <h1 class="my-5">Our Purpose:</h1>

            <hr class="mb-5">
            <p class="h5">We have all been affected by COVID-19 and could not imagine being a young kid or a parent during this hard time.</p>

            <hr class="mb-5">
            <p class="h5">Our goal in creating THIS PROJECT NAME was to build a community of parents, kids, and families to connect and share in activites and fun ideas. While we cannot replace the fun we had growing up, we hope to make it easier for kids to enjoy themselves during these isolating times.</p>

            <h3 class="my-5">How to participate:</h3>
            <p class="h5">We encourage you and your family to find activities that you find exiting and participate in them together! Share your progress, encourage others, and create your own activities to help build this community online.</p>

            <h3 class="my-5">Site rules:</h3>
            <p class="h5">1. Be positive and inclusive.</p>
            <p class="h5">2. No harassment or inappropriate conduct.</p>
            <p class="h5">3. Do not spam users.</p>
            <p class="h5">4. Dont't feed the trolls.</p>
            <p class="h5">5. Don't post anything illegal.</p>

		
		</div>
    </div>
</div>
{% endblock content %}