{% extends 'head.html' %}
{% block content %}

<form action="" method="post">
    <div class="container col-sm-4">
        <p class="text-center"></p>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12">

                <h1>Log In</h1>
                <p>Log in to an existing account or click register in the top right to create a new one.</p>
                <fieldset class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label() }}<br>
                        {{ form.email(class="form-control form-control-lg") }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control form-control-lg") }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </p>
                    <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    
                    <span style="color: red;">
                        {{ message }}
                    </span>

                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    </p>

                    <p>{{ form.submit(class="btn btn-primary btn-lg") }}</p>
                </fieldset>

            </div>
        </div>
    </div>


</form>

{% endblock content %}