{% extends 'head.html' %}
{% from '_adisplay.html' import activity_display, guest_activity_display %}
{% block content %}

<div class="float-left" style="height: 100%; background: lightgray; width: 15rem">
    <h5>
        {{ returnedInfo[2]}} {{ returnedInfo[3]}} <br> <br>
        About: {{ returnedInfo[5]}} <br> <br>
        Interests: {{ returnedInfo[6]}} <br>
    </h5>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Activies {{ returnedInfo[2]}} Currently Follows:</h1>
    </div>
</div>

{% for activity in activities %}
{{ activity_display(activity) }}
{% endfor %}


{% endblock content %}