{% extends 'head.html' %}
{% block content %}
{% include "partials/settingsSidebar.html" %}

<div class="card" id = "profile">
    <img class="card-img-top" src="/questionMark.png" alt="Profile Picture">
    <div class="card-body">
        <p class="card-text"><a href="#" class=card-link>Click to add or change your profile picture.</a></p>
    </div>
</div>

<div class="col-6">
    <div class="card" id = "personalInfo">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Location:</li>
            <li class="list-group-item">Gender:</li>
            <li class="list-group-item">Email:</li>
        </ul>
    </div>
</div>

<div class="col-3" id = "stats">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Posts:</li>
            <li class="list-group-item">Activities Completed:</li>
            <li class="list-group-item">Followers:</li>
            <li class="list-group-item">Following:</li>
        </ul>
    </div>
</div>

<div class="col" id = "detail">
    <div class="card" style="width: 15rem;">
        <ul class="list-group form-group">
            <li class="list-group-item">About you:</li>
            <li class="list-group-item ">Activities Interested in:</li>
        </ul>
        <a href="#" class="btn btn-primary mx-auto form-group" style="width:8rem;">Edit Info</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock content %}