{% extends 'head.html' %}
{% from '_adisplay.html' import activity_display %}
{% block content %}

{% include "partials/settingsSidebar.html" %}


<div class="container">
    <br>
    <div class="row form-group">
        <div class="col-6">
            <div class="card" style="height: 20vw;width: 20vw;">
                <img src="data:;base64,{{ pic }}" class="card-img">
                <div class="card-body">
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="width: 35rem; ">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{ info.email }}<span id ="emailField"></span></li>
                </ul>
            </div>
            <br>
                <div class="card" style="width: 35rem;">
                <ul class="list-group form-group">
                    <li class="list-group-item">About: {{ info.about }}</li>
                    <li class="list-group-item ">Interests: {{ info.interests }}</li>
                </ul>
            </div>

        </div>
    </div>


        <div class="col" id = "detail">

        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

{% for activity in activities %}
{{ activity_display(activity) }}
{% endfor %}


{% endblock content %}