{% extends 'head.html' %}
{% block content %}
{% include "partials/settingsSidebar.html" %}

<div class="container">
    <div class="row form-group">
        <div class="col-6">
            <div class="card" style="height: 15vw;width: 20vw; border:solid 1px;">
                <img class="card-img-top" src="/course-project-a6-jallenlooksgoodinshorts/questionMark.png" alt="Profile Picture">
                <div class="card-body">
                    <p class="card-text"><a class="card-link" href="#">Click to add or change your profile picture.</a></p>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="border:solid 1px">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location: Buffalo, NY<span id ="locField"></span></li>
                    <li class="list-group-item">Gender: Male<span id ="genderField"></span></li>
                    <li class="list-group-item">Email: emusk@test.com<span id ="emailField"></span></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row two">
        <div class="col-3">
          <div class="card" style="border:solid 1px">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Posts: <span id = "postStat">10</span></li>
                    <li class="list-group-item">Activities Completed: <span id = "activityStat">10</span></li>
                    <li class="list-group-item">Followers: <span id = "followerStat">7</span></li>
                    <li class="list-group-item">Following: <span id = "followingStat">12</span></li>
                    <li class="list-group-item">Friends: <span id = "friendStat">8</span></li>
                    <li class="list-group-item">Comments: <span id = "commentStat">15</span></li>
                </ul>
            </div>
        </div>

        <div class="col" id = "detail">
            <div class="card" style="width: 15rem;border: solid 1px;">
                <ul class="list-group form-group">
                    <li class="list-group-item">About you: From the buffalo area looking for activities for children ages 10 and 12</li>
                    <li class="list-group-item ">Activities Interested in: Hiking, Kayaking, Live Music</li>
                </ul>
                <a href="#" class="btn btn-primary mx-auto form-group" style="width:8rem;">Edit Info</a>
          </div>
      </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock content %}