{% extends 'head.html' %}
{% block content %}

<div class="container">
    <div class="card mb-3">
        <h2 class="card-title">Create your account:</h5>
        <div class="card-body"></div>

        <form>
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="firstForm" aria-describedby="First" maxlength="20"
                    placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="lastform" aria-describedby="Last" maxlength="20"
                    placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="emailform" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="passform" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>



{% endblock content %}