html, body {
    background: gray;
    position: relative;
    height: 100%;
    background-image: linear-Gradient(#ffffff,#0085ff);    
}

#confirm {
    display: flex;
    justify-content: center;
    align-items: center;
}